@font-face { font-family: Futura; src: url('Futura-Book.otf'); }  /* LOGO */
@font-face { font-family: Neue; src: url('NeueHaas.ttf'); } /* GUN type text, buttons? */
@font-face { font-family: Epoca; src: url('epocapro-mediumitalic.otf'); } /* Descriptions/Text */

h1 {
    font-family: Futura;
    font-size: 58px;
    color:white;
    padding-top:20px;
    margin-bottom: 0px;
}
#header-p {
    font-family: Epoca;
    font-size: 15px;
    padding-bottom:5px;
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
}

#buttoncreator {
    font-family: Neue;
    font-size:20px;
}

.description {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #2e2e38;
    color: #ffffff;
    border-radius:4px;
    overflow: hidden;
}

.gunname {
    font-family: Neue;
    font-size: 20px;
    padding: 2px;
    user-select: none;
    background-color: #c6a72e;
}

div.demo {
    margin-top: 2.5%;
    margin-bottom: 5%;
    display: table;
    width: 100%;
    table-layout: fixed;    /* For cells of equal size */
}

figure {
    display:table-cell;
    text-align:center;
}

.imagecontainer {
    width:144px;
    border-style: solid;
    border-radius: 4px;
    border-width:10px;
    border-color:#16161d;
}

div.addplayerbutton {
    padding-top:2%;
    text-align:center;
}

header {
    text-align: center;
    background-color: #2a2a36;
}

html, body {
    margin: 0;
    margin-top: -24px;
    background-color: #1a1a23;
   }

footer {
    font-family: Epoca;
    position:fixed;
    bottom:0;
    width:100%;
    background-color:#1f1f2a;
    color:#AAAAAA;
    text-align: center;
}

.gunstuff {
    font-family: Epoca;
    color: #aaa;
    font-size: 16px;
    padding-top:10px;
    padding-bottom:10px;
}