div.demo {
    display: table;
    width: 100%;
    table-layout: fixed;    /* For cells of equal size */
}

figure {
    display:table-cell;
    text-align:center;
}

div.addplayerbutton {
    padding-top:5%;
    text-align:center;
}

header {
    text-align: center;
    background-color: rgb(177, 143, 197);
}

html, body {
    margin: 0;
   }