@font-face { font-family: Futura; src: url('Futura-Book.otf'); }  /* LOGO */
@font-face { font-family: Neue; src: url('NeueHaas.ttf'); } /* GUN type text, buttons? */
@font-face { font-family: Epoca; src: url('epocapro-mediumitalic.otf'); } /* Descriptions/Text */

h1 {
    font-family: Futura;
    font-size: 72px;
    color:#c2c2c2;
    mix-blend-mode:color-dodge;
}
#header-p {
    font-family: Epoca;
}

#buttoncreator {
    font-family: Neue;
    font-size:20px;
}

.gunname {
    font-family: Neue;
    font-size: 20px;
}

div.demo {
    margin-top: 10%;
    margin-bottom: 5%;
    display: table;
    width: 100%;
    table-layout: fixed;    /* For cells of equal size */
}

figure {
    display:table-cell;
    text-align:center;
}

.imagecontainer {
    width:144px;
}

div.addplayerbutton {
    padding-top:5%;
    text-align:center;
}

header {
    text-align: center;
    background-color: rgb(177, 143, 197);
}

html, body {
    margin: 0;
    margin-top: -24px;
   }